.filterSort{
    /* font-family: 'Rubik'; */
    font-size: 1.5rem;
    margin-right: 0.9rem;
    /* background-color: rgb(229, 241, 241); */
    /* padding-right: 50px; */
    /* margin: 50px; */
  

}

.filterSort span{
    margin-left: 50px;
}

